body{
    margin: 0;
    padding: 0;
}
.icon-size
{
    font-size: 30px;
    height:30%; 
    width:30%;
    
    left: 30% !important;
    top: 70% !important;
}
.list-groups, .title, .form-inline, .btn-block
{
    margin-left: 10%;
    transform:  skew(20deg);
    width: 85%;   
}
.btn-block
{
    width: 89% !important;
    display: block;
}
.form-inline
{
    margin-left: 5% !important;   
}
.container
{
    background-color: darkslategray;
}
.banner-skew {
    float: left;
    transform: skew(-20deg);
    -moz-transform: skewY(-20deg);
    -webkit-transform: skew(-20deg);
    height: 560px;
    position: absolute;
    left: -29.5%;
    top: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(2, 104, 65, 0.404);
}
.newclass
{
    float:right;
    position: absolute;
    width: 1124px;
    height: 560.5px;
    top: 16.3%;
    z-index: -1;
    left: 25%;
}
.wrapnewclass
{   position: absolute;
    width: 100%;
    height: 100%;
    margin-left: -00px;
    overflow: hidden;
    background-size: cover;
    top: 45px;
}

.wrapnewclass iframe, 
.wrapnewclass object, 
.wrapnewclass embed, 

{   position: absolute;
    width: 100%;
    height: 100%;
    margin-left: -00px;
    overflow: hidden;
    background-size: cover;
    
}


.sprite-class
{
    position: absolute;
    right: 20px;
    top: 130px;
    width: 36px;
    height: 36px;
    background: url(../img/sprite-icon.png) -64px -225px no-repeat;
    transform: scale(1.2);
    cursor: pointer;
    color: azure;
}
.sprite-class:hover
{
    position: absolute;
    right: 20px;
    top: 130px;
    width: 36px;
    height: 36px;
    background: url(../img/sprite-icon.png) -64px -286px no-repeat;
    cursor: pointer;
    color: azure;
}